<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Is Lion Sleeping?</title>
  </head>
  <body>
    {{#if sleeping}}
    <p>Lion is having a little sleep.</p>
    {{else}}
    <p>Lion is not sleeping. Lion is ruling the world.</p>
    {{/if}}

    <div>
        <button onClick="window.location.reload();">Check again</button>
    </div>
  </body>
</html>
